@font-face {
    font-family: myPoppins;
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

.content_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: myPoppins;
    position: relative;
}

.content_container .content_head {
    display: flex;
    justify-content: end;
    padding: 1% 3%;
    justify-content: end;
    width: 90%;
}
.content_container .content_head div {
    display: flex;
    align-items: center;
}

.content_container .content_head div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.content_container .content_head span {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.content_container .single_tab_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_container .content_head button {
    padding: 0.5% 2%;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.content_container .content_head #getPremium {
    background-color: #e64a19;
    color: #ffffff;
}

.content_container .content_head #loginBtn {
    border: 1px solid #e64a19;
    color: #e64a19;
    background-color: #ffffff;
}

.content_container .content_head #logoutBtn {
    border: 1px solid #e64a19;
    color: #e64a19;
    background-color: #ffffff;
}

.content_container .content_head button {
    padding: 0.5% 2%;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.content_container .tab_content_area {
    width: 90%;
    align-items: center;
}

.premium_head h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #013945;
}

.premium_head h1 svg {
    margin-left: 10px;
}

.premium_head p {
    color: #698C94;
    font-size: 1rem;
}

.premium_crown {
    position: absolute;
    top: -22px;
    right: 5px;
}

.centerText {
    text-align: center;
}

.single_tab_content .premium_plans_heading {
    margin-top: 10px;
    color: #e64a19;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.single_tab_content .premium_plans_container {
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
}

.single_tab_content .premium_plans_container .each_premium_plan {
    width: 32%;
    border-radius: 20px;
}

.each_premium_plan .each_premium_plan_highlight {
    display: flex;
    justify-content: center;
}

.each_premium_plan .each_premium_plan_highlight h4 {
    display: flex;
    justify-content: center;
    /* color: #e64a19;
    background-color: #FFD3C5; */
    color: #013945;
    background-color: #e9f0f4;
    font-size: 15px;
    padding: 1% 2%;
    border-radius: 5px 5px 0px 0px;
    margin: 0;
}

.lifetime_plan .each_premium_plan_highlight h4 {
    color: #e64a19;
    background-color: #ffddd3;
}

.monthly_plan .each_premium_plan_highlight h4 {
    background-color: #ffffff;
}

.each_premium_plan .each_premium_plan_inner {
    border: 3px solid #e9f0f4;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 0px 0px 10px #698c942a;
}

.lifetime_plan .each_premium_plan_inner {
    background-image: linear-gradient(to left, #ffcfbd, #fff8f6);
    border: 3px solid #ffb098;
}

.each_premium_plan .each_premium_plan_inner .plan_card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #013945;
    margin-bottom: 2%;
}

.each_premium_plan .each_premium_plan_inner .plan_card_head h3 {
    font-size: 20px;
}

.each_premium_plan .each_premium_plan_inner .plan_card_head h4 {
    font-size: 16px;
    padding: 3px 5px;
}

.lifetime_plan .each_premium_plan_inner .plan_card_head h4,
.biannual_plan .each_premium_plan_inner .plan_card_head h4 {
    background-color: #ff835d;
    color: #ffffff;
    padding: 3px 5px;
}

.annual_plan .each_premium_plan_inner .plan_card_head h4 {
    background-color: #97ffb8;
    color: #0e983a;
    padding: 3px 5px;
}

.each_premium_plan .each_premium_plan_inner .plan_amount {
    text-align: center;
    font-size: 12px;
    color: #698C94;
}

.each_premium_plan .each_premium_plan_inner .plan_amount h1 {
    font-weight: 300;
}

.each_premium_plan .each_premium_plan_inner .plan_amount h1 strong {
    font-size: 30px;
    color: #013945;
}

.each_premium_plan .each_premium_plan_inner .plan_info {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #698C94;
    font-weight: 600;
}

.each_premium_plan .each_premium_plan_inner .plan_info strike {
    color: #e64a19;
}

.each_premium_plan .each_premium_plan_inner .get_plan_btn {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    /* padding: 5% 3%; */
}

.each_premium_plan .each_premium_plan_inner .get_plan_btn button {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #e64a19;
    color: #e64a19;
    background-color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 20px;
}

.lifetime_plan .each_premium_plan_inner .get_plan_btn button {
    color: #ffffff;
    background-color: #e64a19;
}

.each_premium_plan .each_premium_plan_inner .plan_money_back {
    text-align: center;
    font-size: 14px;
    color: #698C94;
    margin-bottom: 2%;
}

.each_premium_plan:hover .each_premium_plan_inner {
    border: 3px solid #e64a19;
}

.each_premium_plan:hover .each_premium_plan_highlight h4 {
    color: #ffffff;
    background-color: #e64a19;
}

.monthly_plan:hover .each_premium_plan_highlight h4 {
    background-color: #ffffff;
}

.single_tab_content .premium_plans_container .lifetime_plan,
.single_tab_content .premium_plans_container .annual_plan,
.single_tab_content .premium_plans_container .biannual_plan {
    margin-right: 2%;
}

.premium_features_heading {
    font-size: 1.5rem;
    color: #013945;
    margin: 3% 0% 2% 0%;
}

hr {
    margin-top: 4%;
}

.features_container {
    width: 100%;
}

.features_container .feature_row {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25%;
}

.features_container .each_feature {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 32.5%;
    background-color: #F4F6F7;
    border-radius: 20px;
    padding: 1%;
}

.features_container .each_feature .each_feature_img_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features_container .each_feature .each_feature_img_area img {
    width: 35px;
    margin-right: 10px;
}

.features_container .each_feature .each_feature_heading {
    font-weight: bolder;
    font-size: 1.2rem;
    color: #013945;
    margin-bottom: 6px;
}

.features_container .each_feature .each_feature_description {
    font-size: 14px;
    color: #698C94;
    margin-top: 0px;
}

.testimonials_container {
    width: 100%;
    display: flex;
}

.testimonials_container .each_testimonial {
    width: 32.5%;
    border: 1px solid #d6e2e7;
    border-radius: 20px;
    padding: 1.2%;
    box-shadow: 0px 0px 10px #698c942a;
}

.testimonials_container .each_testimonial .testimonial_username {
    display: flex;
    font-size: 16px;
    margin-top: 2%;
    align-items: center;
}

.testimonials_container .each_testimonial .testimonial_text {
    font-size: 13px;
}

.improvement_main_outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.improvement_main_outer .improvement_main_inner {
    width: 100%;
}

.improvement_main_outer .improvement_main_inner .improvement_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5%;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement {
    width: 48%;
    border-radius: 20px;
    overflow: hidden;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_header {
    padding: 0% 3%;
    display: flex;
    align-items: center;
    color: #013945;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_header img {
    width: 35px;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_header h4 {
    font-size: 1.2rem;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_body {
    padding: 3%;
    display: flex;
    align-items: center;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_body .improvement_percentage {
    font-weight: bolder;
    font-size: 17px;
    margin-right: 8px;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_body .body_text {
    font-size: 14px;
    color: #013945;
    font-weight: 600;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .improvement_header .header_text {
    margin-left: 13px;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .confidence_improvement {
    background-color: #ECE3FF;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .sleep_improvement {
    background-color: #D4F3D4;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .energy_improvement {
    background-color: #FFF0C6;
}

.improvement_main_outer .improvement_main_inner .improvement_container .each_improvement .relationship_improvement {
    background-color: #FFF0F3;
}

.premium_btn_area {
    width: 100%;
    text-align: center;
    padding: 2% 0% 4% 0%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.premium_btn_area button {
    color: #ffffff;
    background-color: #e64a19;
    border-radius: 30px;
    border: none;
    padding: 1.5% 5%;
    cursor: pointer;
    font-size: 1rem;
    width: 30%;
}





.popup_modal {
    width: 100%;
    height: 100%;
    background-color: #00000047;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    top: 0;
}

.popup_modal .popup_container {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #013945;
}

.popup_modal .popup_container .popup_close_area {
    width: 95%;
    display: flex;
    justify-content: end;
    padding: 3%;
}

.popup_modal .popup_container .popup_close_area svg {
    width: 7%;
    cursor: pointer;
}

.popup_modal .popup_container .popup_close_area svg circle {
    fill: #ebf2f6;
}

.popup_modal .popup_container .popup_close_area svg #Rectangle_504 {
    fill: #013945;
}

.popup_modal .popup_container .popup_close_area svg #Rectangle_503 {
    fill: #013945;
}

.popup_modal .popup_container .popup_close_area svg:hover circle {
    fill: #013945;
}

.popup_modal .popup_container .popup_close_area svg:hover #Rectangle_504 {
    fill: #ffffff;
}

.popup_modal .popup_container .popup_close_area svg:hover #Rectangle_503 {
    fill: #ffffff;
}

.popup_modal .popup_container .popup_heading_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.popup_modal .popup_container .popup_heading_area h2 {
    color: #013945;
}

.popup_modal .popup_container .popup_heading_area span {
    width: 55%;
    color: #436870;
    text-align: center;
}

.popup_modal .popup_container .popup_form_area {
    padding: 3% 5%;
    width: 90%;
}

.popup_modal .popup_container .popup_form_area .popup_form_email_area {
    width: auto;
    height: auto;
    border: 2px solid #EBF2F6;
    border-radius: 3px;
    padding: 5% 2% 3% 3%;
    position: relative;
    margin-bottom: 2%;
}

.popup_modal .popup_container .popup_form_area .popup_form_email_area input {
    border: none;
    outline: none;
    width: 93%;
}

.popup_modal .popup_container .popup_form_area .popup_form_email_area label {
    position: absolute;
    top: 12px;
    left: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 13px;
    color: #93ADB3;
}

.popup_modal .popup_container .popup_form_area .popup_form_email_area img {
    width: 4%;
}

.popup_modal .popup_container .popup_form_area .popup_form_email_area input:focus+label,
.popup_modal .popup_container .popup_form_area .popup_form_email_area input:valid+label {
    font-size: 10px;
    top: 2px;
    color: #013945;
}

.popup_modal .popup_container .popup_form_area .popup_form_password_area {
    width: auto;
    height: auto;
    border: 2px solid #EBF2F6;
    border-radius: 3px;
    padding: 5% 2% 3% 3%;
    position: relative;
    margin-bottom: 2%;
}

.popup_modal .popup_container .popup_form_area .popup_form_password_area input {
    border: none;
    outline: none;
    width: 87%;
}

.popup_modal .popup_container .popup_form_area .popup_form_password_area label {
    position: absolute;
    top: 12px;
    left: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 13px;
    color: #93ADB3;
}

.popup_modal .popup_container .popup_form_area .popup_form_password_area img {
    width: 4%;
}


.popup_modal .popup_container .popup_form_area .popup_form_password_area input:focus+label,
.popup_modal .popup_container .popup_form_area .popup_form_password_area input:valid+label {
    font-size: 10px;
    top: 2px;
    color: #013945;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area button {
    width: 100%;
    background-color: #e64a19;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 3%;
    border-radius: 10px;
    border: 2px solid #e64a19;
    cursor: pointer;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area #switchForLogoutAccept {
    width: 48%;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area #switchForLogoutCancel {
    width: 48%;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area button:hover {
    background-color: #ffffff;
    color: #e64a19;
}

.popup_modal .popup_container .popup_form_area .popup_form_submit_area button:disabled {
    background-color: #EBF2F6;
    color: #93ADB3;
    cursor: no-drop;
    border: 2px solid #EBF2F6;
}

.popup_modal .popup_container .partition_area {
    width: 90%;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup_modal .popup_container .partition_area .line_first {
    width: 45%;
    height: 3px;
    background-color: #EBF2F6;
}

.popup_modal .popup_container .partition_area .line_text {
    font-size: 13px;
}

.popup_modal .popup_container .partition_area .line_last {
    width: 45%;
    height: 3px;
    background-color: #EBF2F6;
}

.popup_modal .popup_container .sign_with_google_area {
    width: 90%;
    padding: 2% 5%;
}

.popup_modal .popup_container .sign_with_google_area button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #013945;
    border-radius: 50px;
    padding: 2%;
    background-color: #ffffff;
    color: #013945;
    font-weight: 900;
    cursor: pointer;
}

.popup_modal .popup_container .sign_with_google_area button:hover {
    background-color: #EBF2F6;
}

.popup_modal .popup_container .sign_with_google_area button svg {
    width: 20px;
    margin-right: 10px;
}

.popup_modal .popup_container .switch_popup {
    text-align: center;
    color: #436870;
}

.popup_modal .popup_container .switch_popup button {
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: #E64A19;
    cursor: pointer;
}

.popup_modal .popup_container .forgot_password_area {
    width: 100%;
    padding: 2% 0% 4% 0%;
}

.popup_modal .popup_container .forgot_password_area button {
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: #E64A19;
    cursor: pointer;
    font-size: 12px;
}

.popup_modal .otp_container {
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1%; */
}
