@font-face {
    font-family: myPoppins;
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

.container {
    width: 320px;
    min-height: 380px;
    padding: 2%;
    font-family: myPoppins;
    display: none;
}

.popup_active_content {
    display: block;
}
.head_container {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.head_container .brand_logo {
    width: 30px;
}

.head_container .brand_logo img {
    width: 100%;
    cursor: pointer;
}

.head_container .dashboard_btn_area {
    width: 30px;
}

.head_container .dashboard_btn_area img {
    cursor: pointer;
    width: 100%;
}

.current_domain_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#current_domain_cannot_block_box {
    width: 90%;
    margin-left: 3%;
    height: 300px;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

#current_domain_cannot_block_box .cannot_block_img_area {
    width: 40%;
}

#current_domain_cannot_block_box .cannot_block_img_area svg {
    width: 100%;
}

#current_domain_cannot_block_box span {
    font-size: 15px;
    color: #C1C1C1;
    font-weight: 500;
}

.successfully_added_item {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.successfully_added_item img {
    width: 40%;
}

.successfully_added_item span {
    font-size: 20px;
}

.successfully_added_item .report_web {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}

.current_domain_info .domain_fav_icon {
    width: 50px;
    height: 50px;
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 20px 3px;
    /* background-color: #D9D9D9; */
    /* box-shadow: #878787 2px 2px 15px; */
    border-radius: 5px;
    padding: 3%;
    margin-bottom: 3%;
}

.current_domain_info .domain_fav_icon img{
    width: 100%;
}

.current_domain_info .domain_url_name {
    width: 94%;
    margin: 2% 0% 8% 0%;
    text-align: center;
}

.current_domain_info .domain_url_name h1{
    font-size: 20px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.current_domain_info span {
    align-self: flex-end;
    padding-right: 18px;
    color: #E64A19;
    font-size: 13px;
}

.blocklist_function_area button{
    width: 96%;
    border-radius: 5px;
    font-size: 18px;
    padding: 4%;
    border: none;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #00000080;
    font-weight: 500;
    cursor: pointer;
}

.blocklist_function_area .primary {
    background-color: #E64A19;
}

.blocklist_function_area button:hover {
    background-color: #f4f4f4;
    color: #E64A19;
}

.blocklist_function_area .remaining_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.blocklist_function_area .remaining_info .premium_link {
    color: #E64A19;
    text-decoration: underline;
    cursor: pointer;
}

.current_domain_info .add_keyword_area {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.current_domain_info .add_keyword_area input {
    width: 65%;
    margin-right: 3%;
    padding: 2%;
    font-size: 18px;
    border-radius: 5px;
}

.current_domain_info .add_keyword_area button {
    width: 23%;
    border-radius: 5px;
    background-color: #E64A19;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.current_domain_info .add_keyword_area button:disabled {
    background-color: #E64A1980;
    cursor: no-drop;
}

#allPremiumExperiment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    width: 97%;
}

.allPremiumExperiment .getPremiumDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.allPremiumExperiment .getPremiumDiv button {
    color: #ffffff;
    background-color: #E64A19;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 90%;
    padding: 15px;
    margin: 30px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 14px 0px #0000001C;
}

.allPremiumExperiment .getPremiumDiv .alreadyHaveAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    margin-bottom: 20px;
    color: #E64A19;
    text-decoration: underline;
    cursor: pointer;
}

#allPremiumExperiment .allPremiumBanner {
    background-image: url(../assets/ResoursePage/premiumBenifit.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.allPremiumBanner p {
    width: 70%;
    font-size: .9rem;
}

.domain_stats_area {
    display: flex;
    flex-direction: column;
}

.domain_stats_area .single_domain_info {
    width: 96%;
    display: flex;
    border-bottom: 1px solid #878787;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0%;
}

.domain_stats_area .single_domain_info .single_domain_text_area {
    display: flex;
    font-size: 13px;
    width: 80%;
}

.domain_stats_area .single_domain_info .single_domain_text_area .single_domain_name {
    margin-right: 3%;
}

.domain_stats_area .single_domain_info .single_domain_text_area .single_domain_time {
    color: #878787;
}

.domain_stats_area .single_domain_info .single_domain_btn_area {
    width: 20%;
}

.domain_stats_area .single_domain_info .single_domain_btn_area button{
    background: transparent;
    border: none;
    color: #E64A19;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 10%;
}

.domain_stats_area .single_domain_info .single_domain_btn_area button:hover {
    background-color: #E64A19;
    color: #ffffff;
}

.more_options_area {
    height: 40px;
    width: 96%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.more_options_area button {
    color: #E64A19;
    background: transparent;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
}

.more_options_area button:hover {
    color: #c02d00;
}

/* POPUP NAVIGATION STYLES */
.popup_tab_area {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: myPoppins;
}

.popup_tab_area .popup_tab_area_inner {
    display: flex;
    background-color: #ECECEC;
    padding: 1%;
    border-radius: 10px;
}

.popup_tab_area .popup_tab_area_inner .popup_tab {
    padding: 0% 3%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.popup_tab_area .popup_tab_area_inner .active {
    background-color: #ffffff;
}

#popup_flash_deal_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00000056;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_flash_deal_container #popup_flash_deal_card {
    width: 290px;
    height: 413.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_close_area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_close_area svg {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details .offer_left_container {
    background-color: #B60005;
    width: 240px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.popup_tab_area #report_adult_content {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #B60005;
    font-weight: 600;
    text-decoration: underline;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details .offer_left_container h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details .offer_left_container img {
    position: absolute;
    transform: translate(-120px, 0px);
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details .offer_left_container .offer_left_progress {
    width: 80%;
    background-color: #00000051;
    border-radius: 10px;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details .offer_left_container .offer_left_progress .offer_left_progress_inner {
    background-color: #F8E502;
    height: 100%;
    border-radius: 10px;
}

#popup_flash_deal_container #popup_flash_deal_card .flash_sale_current_details button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 1% 5%;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-style: italic;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.popup_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
}

.popup_modal .loading_container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_modal .loading_container img {
    max-width: 70px;
    height: auto;
}

.current_domain_info .add_keyword_area .disable-button,
.blocklist_function_area .disabled-button {
    background: #ccc; 
    color: #666;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid #aaa;
}

.loginOption {
    font-size: .85rem;
    color: #666;
    text-decoration: underline;
    margin-bottom: 5px;
    cursor: pointer;
}

.loginOption:hover {
    color: #E64A19;
}